!!! 5

%html
  %head
    %title Let Me Know At
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/foundation.css'}
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/app.css'}
    %script{'src' => 'javascripts/modernizr.foundation.js'}
    %script{'src' => 'javascripts/jquery.min.js'}
      
    :javascript
      window.lmka = {};
      window.lmka.minutes = #{@minutes};
      window.lmka.hours = #{@hours};
      window.lmka.urlTimeAdd = #{@add};
    
    %script{'src' => 'javascripts/alarm.js'}

  %body

    .row
      .twelve.columns.letting-you-know
        %h1.title
          Letting you know at 
          %span.alarm-time
            0:00
    .row
      .eight.columns.centered.reminder-message
        %textarea.reminder{:placeholder => 'Write a reminder message'}
