%html
  %head
    %title Let Me Know At
    %meta{'viewport' => 'width=device-width'}
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/foundation.css'}
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/app.css'}
    %script{'src' => 'javascripts/modernizr.foundation.js'}
  %body 
    %h1.title
      That aint a valid time bro.
    %h2.subheader{:align => 'center'}
      Read the 
      %a{:href => './'}
        main page
      for instructions.
